* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #444444;
}

img {
    display: block;
    width: 75%;
    height: auto;
    margin: 0 auto;
}

h1 {
    color: #B7EF88;
    background-color: #607052;
    font-size: 34px;
    text-align: center;
    padding: 10px;
}

h3 {
    color: #C689F0;
    background-color: #645270;
    font-size: 26px;
    padding: 10px;
}

h4 {
    color: #F089C1;
    background-color: #705262;
    font-size: 22px;
    padding: 10px;
}

li {
    color: blueviolet;
    font-size: 18px;
    padding: 8px;
}

.list {
    background-color: bisque;
    padding: 10px 30px;
    width: 900px;
    margin: 0 auto;
}

p {
    background-color: bisque;
    color:blueviolet;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

.home {
    display: block;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 20;
    margin-top: 40px;
    margin-left: 90%;
    padding: 10px;
}

/* color pallete - split complementary: #F089C1, #705262, #C689F0, #645270, #B7EF88, #607052*/