* {
    box-sizing: border-box;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

body {
    background-color: #211B33;
}

img {
    width:100%;
    height: auto;
}

h1 {
    text-align: center;
    font-size: 26px;
    background-color: #5A5763;
    border: 4px solid black;
}

h3 {
    font-size: 22px;
    background-color: #816EB8;
    padding: 10px;
    margin: 10px;
    border: 4px solid black
}

h4 {
    font-size: 20px;
    background-color: #8262E3;
    padding: 10px;
    margin: 10px;
    border: 4px solid black
}

ol {
    background-color: #756C8E;
    border: 4px solid black;
    padding: 10px 30px;
}

ul {
    background-color: #5A5763;
    border: 4px solid black;
    padding: 10px 30px;
}

li {
    padding: 2px;
}

p  {
    font-size: 16px;
    background-color: #5A5763;
    padding: 10px;
    margin: 13px;
    border: 4px solid black;
}

div {
    font-size: 16px;
    margin: 10px;
}

.home {
    display: block;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 20;
    margin-top: 40px;
    margin-left: 90%;
    padding: 10px;
}