
body img {
    width: 100%;
    height: auto;
}

body h1 {
    background-color: rgba(35, 30, 30, 0.759);
    color: white;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    background-color: rgba(35, 30, 30, 0.759);
    color: orange;
    text-align: center;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    margin: auto;
}

